name: publish

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 14
      - run: mvn source:jar deploy -DaltDeploymentRepository=internal.repo::default::file://$PWD/target/repo
      - run: cd target/repo && git init -b gh-pages && git remote add origin ${{ github.repository }} && git push -u origin gh-pages
#      - uses: JamesIves/github-pages-deploy-action@3.7.1
#        with:
#          SINGLE_COMMIT: true
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          FOLDER: target/repo
#          BRANCH: gh-pages
#          CLEAN: true
